<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caesar Cipher</title>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <textarea id="textInput" placeholder="Enter text"></textarea>
    <input type="number" id="shiftInput" placeholder="Shift value" />
    <button onclick="sendRequest()">Encrypt</button>
    <p id="result"></p>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
